* {
	box-sizing: border-box;
	margin: auto;
}

.avatar {
	border-radius: 3%;
	width: 230px;
	height: 230px;
    margin-bottom: 2%;
}

body {
	display: block;
	font-family: "Droid Sans", sans-serif, bold;
}

.container {
	text-align: center;
}

.contains-left {
	text-align: left;
	display: inline-block;
}

.contains-right {
    margin-left: 0px;
	width: 74vh;
	vertical-align: top;
	display: inline-block;
    margin-left: 3%;
}

.fake-menu {
	display: inline-block
}

.fake-menu-div {
	border-bottom: solid #675F5F 2px;
	padding-right: 20px;
	display:inline-block;
}

.fake-menu-middle {
	border: solid #675F5F 2px;
	border-bottom: solid #fff 4px;
}

#full-page {
	display: block;
}

.head-contains {
	margin-left: 23px;
}

.header {
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

input:focus {
    outline: none !important;
}

.list {
    margin-top: 1%;
    margin-bottom: 2%;
	vertical-align: middle;
	display: block;
	font-size: 14px;
}

.login {
    margin-bottom: 2%;
	font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}


.material-icons.md-18 {
	font-size: 18px;
    vertical-align: middle;
}

.name {
	font-size: 26px;
    line-height: 30px;
}

.prof-menu-left {

}

.repo-container {
    margin-bottom: 4%;
    margin-top: 15px;
    display: block;
}

.repoDiv {
    padding-top: 1%;
    text-align: left;
    height: 8vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}

.rightRepo {
    float: right;
    font-size: 14px;
}
.search {
	display: inline-block;
}

.tabs {
	display: inline-block;
	padding-right: 10px;
	font-size: 14px;
}
